--- Page 1 of 1 ---

Menu Search Apply Visit Majors & Minors
PPRREE--EENNGGIINNEEEERRIINNGG PPAATTHHWWAAYY
Degree Requirements
MMaajjoorr iinn AApppplliieedd PPhhyyssiiccss
1177 ccoouurrsseess ((MMaajjoorrss ccoonnssiisstt ooff aa mmiinniimmuumm ooff 3300 ccrreeddiittss..))
•
CHE51-103/101 General Chemistry I/Chemical Methods and Techniques Laboratory I
•
CHE51-203/201 General Chemistry II/Chemical Methods and Techniques Laboratory II
•
MAT52-164 Modern Calculus I
•
MAT52-264 Modern Calculus II
•
MAT52-364 Modern Calculus III
•
MAT52-754 Differential Equations
•
PHY53-104 Introduction to Engineering
•
PHY53-154 Fundamentals of Physics I
•
PHY53-164 Fundamentals of Physics II
•
PHY53-214 Modern Physics
•
PHY53-334 Classical Mechanics I
•
PHY53-434 Statics
•
PHY53-872 Capstone Course
•
One pre-engineering elective from below:
◦
MAT52-674 Linear Algebra
◦
PHY53-324 Electromagnetism I
◦
PHY53-364 Fundamentals of Materials Science and Engineering
◦
PHY53-404 Electronics
◦
PHY53-454 Math Methods in Physical Science
◦
PHY53-463 Dynamics
◦
PHY53-473 Thermodynamics 204
•
Two additional pre-approved upper-level engineering courses transferred from an ABET accredited
engineering school (totaling at least 6 credits)