--- Page 1 of 2 ---

PROSPECTIVE STUDIO ART MAJOR
PORTFOLIO REVIEW REQUIREMENTS
TOCOMPLETETHESUBMISSIONOFAPORTFOLIO,YOUMUSTCOMPLETEALLTHREEREQUIREMENTS.
(1)DigitalPortfolio
Submitadigitalportfolioof10examplesofyourartworkforreview.
● Includeyourstrongestwork,whichmayfeaturebothtwo-dimensionaland
three-dimensionalpiecesinanymedium.
● Includeatleastthreedrawingsthatdemonstrateyourabilitytoworkfromdirect
observation(notfromphotographs).
(2)WrittenStatement
Submitaone-pagewrittenstatementrespondingtothefollowingtwoquestions:
1. Whatexperiences(inoroutsidetheclassroom)haveledyoutomakeart?
2. AtSouthwestern,webelievePaideiaembodiestheliberalartsbyempoweringstudentsto
thinkmorebroadly,collaboratively,andcreatively.Whatsubjectsorideasdoyousee
influencingyourworknowandinthefuture?
Takeyourtimewritingyourstatement.Provideclear,thoughtful,anddetailedresponsestoeach
question.LearnmoreaboutSouthwestern’sPaideiaphilosophyhere: ThePowerofPaideia
Thestatementcanbesubmittedbya)typingitdirectlyontotheforminthedigitalstudio,b)uploadingit
inaseparatedocontheform,orc)uploadingitlaterintothedigitalstudio.
(3)Interview
YouwillparticipateinaninterviewwiththeStudioArtfaculty,conductedeitherinpersonorvia
GoogleMeet.Pleasebepreparedtodiscussyourartwork,creativeinfluences,andinterestin
attendingSouthwesternUniversity.

--- Page 2 of 2 ---

(4)OptionalSubmission
YoumayincludedocumentationofyourCollegeBoardAdvancedPlacement(AP)scoreinStudio
Art,ifapplicable.
DigitalPortfolioSubmissionProcess:
UploadalldigitalimagestotheDigitalStudioplatform.Eachimagemustincludethefollowing
information:
1. Titleofpiece
2. Yearofcompletion
3. Dimensions(height×width×depthfor3-Dforms)
4. Medium(s)
5. Description(optional;includeanyrelevantdetailsaboutthework)
Theaestheticqualityoftheportfolioitselfisimportant.Takeyourtimedocumentingwork.Represent
yourartworkaccuratelyandwiththeleastdistraction.Cropthebackgroundinall2-Dworks.For3-D
works,useawhiteorgraycolorbackdrop.Ifyouneedtipsondocumentingyourworkwithyourphone
camera,wehighlyrecommendwatchingbothYouTubevideosbelowfromaftrART!
Fortipsonphotographingartworkwithyourphone,werecommendthefollowingaftrART!videoson
YouTube:
iPhonePhotography:Documentingyour2DArtonaBudget
Photographingyour3DArtwithaniPhone/Smartphone